/*      MDPi PC     */
@media (max-width:2000px)
{
    #header, #main article, #main #prevnext, #friends {
        width: 800px;
    }
    #main article h1, #main article h2, #main article h3, #main article h4 {
        margin: 5px 100px;
    }
    #main article date, #main article footer, #main article p, #main article ul {
        margin: 0 100px;
    }
    #main article p, #main article ul {
        margin: 16px 100px;
    }
}

/*      LDPi PC     */
@media (max-width:1440px)
{
    body {
        font-size:12pt;
    }
    #header, #main article, #main #prevnext, #friends {
        width: 700px;
    }
    #main article h1, #main article h2, #main article h3, #main article h4 {
        margin: 5px 80px;
    }
    #main article date, #main article footer, #main article p, #main article ul {
        margin: 0 80px;
    }
    #main article p, #main article ul {
        margin: 16px 80px;
    }
}

/*      Tablet Large     */
@media (max-width:1024px)
{
    body {
        font-size:14pt;
        background-image:none;
        background-color:#eee;
    }
    #header, #main article, #main #prevnext, #friends {
        width: 650px;
    }
    #main article h1, #main article h2, #main article h3, #main article h4 {
        margin: 5px 40px;
    }
    #main article date, #main article footer, #main article p, #main article ul {
        margin: 0 40px;
    }
    #main article p, #main article ul {
        margin: 16px 40px;
    }
}

@media (max-width:720px){
    #header, #main article, #main #prevnext, #friends {
            width: 550px;
    }
}

/*      Phone       */

@media only screen and (max-width: 600px)
{    
    body {
        font-size:12pt;
        background-color:#fff;
    }
    #header, #main article, #main #prevnext, #friends {
        max-width:86vw;
        border:none;
        background-color:transparent;
    }
    #main article h1, #main article h2, #main article h3, #main article h4 {
        margin: 5px 0;
    }
    #main article date, #main article footer, #main article p, #main article ul {
        margin: 0 0;
    }
    #main article p, #main article ul {
        margin: 16px 0;
        text-align: left;
    }

    #nav
    {
        position:static;
        min-height:32px;
        max-height:96px;
        height:auto;
    }

    #nav .nav-holder, #nav ul {
        max-width: 100%;
    }

    #header
    {
        margin-top:0;
        padding-top:16px;
        background-image:none;
    }

    #main article iframe {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    #header h1 {
        font-size: 8vw;
    }
    #header em {
    font-size: 4vw;
    }
    #footer #bytemark {
        width: 235px;
    }
}

.robots-nocontent.sd-block.sd-social.sd-social-icon.sd-sharing {
    display: none;
}